#neko{
	position: relative;
	width: 100%;
}
#neko .parts{
	position: absolute;
	top:0;
	left:0;
	width: 500px;
	height: 500px;
	background-repeat: no-repeat;
	background-size: 500px;
}
#neko .parts.migiue{
	background-image: url(../image/migiue.png);
}
#neko .parts.hidariue{
	background-image: url(../image/hidariue.png);
}
#neko .parts.migishita{
	background-image: url(../image/migishita.png);
}
#neko .parts.hidarishita{
	background-image: url(../image/hidarishita.png);
}
#neko .parts.tate{
	background-image: url(../image/tate.png);
}
#neko .parts.yoko{
	background-image: url(../image/yoko.png);
}
#neko .parts.kao{
	background-image: url(../image/kao.png);
}

#neko.s .parts.migiue{
	animation: s-migiue 5s;
	-webkit-animation: s-migiue 5s;
	left:-100px;
}
@keyframes s-migiue {
	from {transform:  translate(100px, 0px);}
	to {transform:  translate(0px, 0px);}
}
#neko.s .parts.hidariue{
	animation: s-hidariue 5s;
	-webkit-animation: s-hidariue 5s;
	left:100px;
}
@keyframes s-hidariue {
	from {transform:  translate(-100px, 0px);}
	to {transform:  translate(0px, 0px);}
}
#neko.s .parts.migishita{
	animation: s-migishita 5s;
	-webkit-animation: s-migishita 5s;
	left:-85px;
	top:-135px;
}
@keyframes s-migishita {
	from {transform:  translate(85px,135px);}
	to {transform:  translate(0px, 0px);}
}
#neko.s .parts.hidarishita{
	animation: s-hidarishita 5s;
	-webkit-animation: s-hidarishita 5s;
	left:120px;
	top:-130px;
}
@keyframes s-hidarishita {
	from {transform:  translate(-120px,130px);}
	to {transform:  translate(0px, 0px);}
}
#neko.s .parts.tate{
	animation: s-tate 5s;
	-webkit-animation: s-tate 5s;
	background-size: 240px;
	left: 140px;
	top: 45px;
}
@keyframes s-tate {
	from {transform: scale(2.08) translate(63px,108px);}
	to {transform:  translate(0px, 0px);}
}
#neko.s .parts.yoko{
	animation: s-yoko 5s;
	-webkit-animation: s-yoko 5s;
	background-size: 240px;
	left: 140px;
	top: 45px;
}
@keyframes s-yoko {
	from {transform: scale(2.08) translate(63px,108px);}
	to {transform:  translate(0px, 0px);}
}


#neko.m .parts.migiue{
	animation: m-migiue 5s;
	-webkit-animation: m-migiue 5s;
	left:-80px;
}
@keyframes m-migiue {
	from {transform:  translate(80px, 0px);}
	to {transform:  translate(0px, 0px);}
}
#neko.m .parts.hidariue{
	animation: m-hidariue 5s;
	-webkit-animation: m-hidariue 5s;
	left:70px;
}
@keyframes m-hidariue {
	from {transform:  translate(-70px, 0px);}
	to {transform:  translate(0px, 0px);}
}
#neko.m .parts.migishita{
	animation: m-migishita 5s;
	-webkit-animation: m-migishita 5s;
	left:-60px;
	top:-110px;
}
@keyframes m-migishita {
	from {transform:  translate(60px, 110px);}
	to {transform:  translate(0px, 0px);}
}
#neko.m .parts.hidarishita{
	animation: m-hidarishita 5s;
	-webkit-animation: m-hidarishita 5s;
	left:80px;
	top:-100px;
}
@keyframes m-hidarishita {
	from {transform:  translate(-80px, 100px);}
	to {transform:  translate(0px, 0px);}
}
#neko.m .parts.tate{
	animation: m-tate 5s;
	-webkit-animation: m-tate 5s;
	background-size: 308px;
	left: 97px;
	top: 45px;
}
@keyframes m-tate {
	from { transform: scale(1.62) translate(36px,68px); }
	to { transform:  scale(1) translate(0px, 0px); }
}
#neko.m .parts.yoko{
	animation: m-yoko 5s;
	-webkit-animation: m-yoko 5s;
	background-size: 305px;
	left: 90px;
	top: 35px;
}
@keyframes m-yoko {
	from { transform:  scale(1.65) translate(43px, 77px); }
	to { transform:  scale(1) translate(0px, 0px); }
}


#neko.l .parts.migiue{
	animation: l-migiue 5s;
	-webkit-animation: l-migiue 5s;
	left:-40px;
}
@keyframes l-migiue {
	from { transform:  translate(40px, 0px); }
	to { transform:  translate(0px, 0px); }
}
#neko.l .parts.hidariue{
	animation: l-hidariue 5s;
	-webkit-animation: l-hidariue 5s;
	left:40px;
}
@keyframes l-hidariue {
	from { transform:  translate(-40px, 0px); }
	to { transform:  translate(0px, 0px); }
}
#neko.l .parts.migishita{
	animation: l-migishita 5s;
	-webkit-animation: l-migishita 5s;
	left:-35px;
	top:-50px;
}
@keyframes l-migishita {
	from { transform:  translate(35px, 50px); }
	to { transform:  translate(0px, 0px); }
}
#neko.l .parts.hidarishita{
	animation: l-hidarishita 5s;
	-webkit-animation: l-hidarishita 5s;
	left:50px;
	top:-50px;
}
@keyframes l-hidarishita {
	from { transform:  translate(-50px, 50px); }
	to { transform:  translate(0px, 0px); }
}
#neko.l .parts.tate{
	animation: l-tate 5s;
	-webkit-animation: l-tate 5s;
	background-size: 400px;
	left: 55px;
	top: 10px;
}
@keyframes l-tate {
	from { transform:  scale(1.25) translate(6px, 42px); }
	to { transform:  scale(1) translate(0px, 0px); }
}
#neko.l .parts.yoko{
	animation: l-yoko 5s;
	-webkit-animation: l-yoko 5s;
	background-size: 400px;
	left: 50px;
	top: 20px;
}
@keyframes l-yoko {
	from { transform: scale(1.25) translate(10px, 34px); }
	to { transform: scale(1) translate(0px, 0px); }
}
